<h1>Here are all your tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
    <li>
      <i class="far fa-check-square"><%= link_to task.title, task_path(task) %></i>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_delete_path(task), method: :delete %>
    </li>
    <% else %>
    <li>
      <i class="far fa-square"><%= link_to task.title, task_path(task) %></i>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_delete_path(task), method: :delete %>
    </li>
    <% end  %>
  <% end  %>
</ul>

<p id="add_task" class= 'btn btn-light'><%= link_to '<i class="fas fa-plus"> Add a task</i>'.html_safe, tasks_new_path %></p>
